extends base

block content
  main.main
    h1  My Bookings
    table.booking_table
      tr
        th booking name
        th booking at
        th tour
        th booking amount
      each booking in bookings
        tr
          td=booking.bookingName
          td= new Date(booking.bookingAt).toLocaleString()
          td=booking.tour.name
          td=booking.bookingAmount
