extends base

block content
  main.main
    h1 My Reviews
    table.booking_table
      tr
        th review
        th rating
        th tour
        th Created AT
      each review in reviews
        tr
          td=review.review
          td=review.rating
          td=review.tour.name
          td=new Date(review.createdAt).toLocaleString()
