extends base

block content
  main.main
    h1 My Billings
    table.booking_table
      tr
        th Billing Name
        th Billing Amount
        th Billing Done AT
        th Tour
      each billing in billings
        tr
          td=billing.billingName
          td=billing.billingAmount
          td=new Date(billing.billingAt).toLocaleString()
          td=billing.booking.tour.name